[submodule "dictionaries"]
	path = dictionaries
	url = git@github.com:beppec56/dictionaries.git
	branch = .
[submodule "helpcontent2"]
	path = helpcontent2
	url = git@github.com:beppec56/help.git
	branch = .
[submodule "translations"]
	path = translations
	url = git@github.com:beppec56/translations.git
	branch = .
